@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.DropDownList("Items",null,new { @class = "form-control multi-select", multiple="multiple" })
    @Html.DropDownList("Items", null, new { @class = "form-control multi-select", multiple = "multiple" })
    @Html.DropDownList("Items", null, new { @class = "form-control multi-select", multiple = "multiple" })
    
</div>
@section scripts{
<script>
    $(document).ready(function () {
        $(".multi-select").MultiSelect({buttonClass:"no-defaults",iconClass:"glyphicon glyphicon-remove",dropdownHeight:"500px"});
    })
 
</script>
}
